body {
    background-color: black;
}

#container {
    display: flex;
    justify-content: center;  /* Vaakasuuntainen keskitys */
    align-items: center;      /* Pystysuuntainen keskitys */
    height: 100vh;            /* Aseta korkeus tarpeen mukaan */
}